.floor1,.floor2,.floor3,.floor4{
	width: 900px;
	height: 800px;
	background: #0f88eb;
	margin:0 auto;
	font-size: 30px;
	text-align: center;
	line-height: 800px;
}
.top,.footer{
	width: 100%;
	height: 200px;
	margin:0 auto;
	font-size: 30px;
	text-align: center;
	line-height: 200px;
	background: #0f88eb;
}
.floor1{
	background: pink;
}
.floor2{
	background: #D9EDF7;
}
.floor3{
	background: pink;
}
.floor4{
	background: #D9EDF7;
}
.left-nav{
	position: fixed;
	left:5%;
	top:50%;
	margin-top: -250px;
	width: 200px;
	height: 470px;
	background: #333;
}
ul{
	margin: 0;
	padding:0;
}
.nav-ul li{
	list-style: none;
	width: 200px;
	height: 90px;
	margin-bottom:5px;
	background: #eee;
	text-align: center;
	line-height:90px;
	cursor: pointer;
}

.active{
	color: red;
}

.toTop{
	cursor: pointer;
	width: 200px;
	height: 90px;
	text-align: center;
	line-height:90px;
	background:#eee;
}